// Place all the styles related to the admin/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0px;
  padding: 0px;
  border: none;
}

body {
  font-size: 14px;
  color: #777777;
  font-family: Arial;
}

table {
  width: 100%;
}

table td {
  padding: 5px;
}

table th {
  text-align: left;
}

.mainholder {
  position: relative;
  z-index: 2;
}

.mainContainer {
  background: url(/assets/bgshadow.png) repeat-y scroll center center transparent;
  height: 100%;
  position: fixed;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, img {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 20px;
  color: #000000;
}

h2 {
  font-size: 14px;
  color: #666666;
}

h4 {
}

p {
  font-size: 12px;
  color: #777777;
  line-height: 14px;
}

img {
  border: none;
}

a {
  color: #000000;
}

.center {
  margin: 0 auto;
  width: 955px;
}

.topBanner {
  width: 100%;
  float: left;
  height: 125px;
  border-bottom: 1px solid #aaaaaa;
  background-color: #fff;
}

.BannerHeading {
  float: left;
  font-size: 19px;
  color: #333333;
  width: auto;
  margin-top: 80px;
  margin-left: 25px;
}

.adminMain {
  float: left;
  width: 386px;
  margin-left: 270px;
  margin-top: 80px;
}

.adminHeading {
  float: left;
  width: 90%;
  font-size: 19px;
  color: #245399;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 2px solid #aaaaaa;
}

.webText {
  float: left;
  width: 100%;
  font-size: 16px;
  color: #245399;
  font-weight: bold;
  margin-top: 5px;
}

.adminTopBG {
  float: left;
  width: 386px;
  height: 7px;
  background: url(/assets/adminTop.png) no-repeat;
  margin-top: 40px;
}

.adminCenterBG {
  float: left;
  width: 386px;
  height: auto;
  background: #2c6dce;
}

.adminBottomBG {
  float: left;
  width: 386px;
  height: 7px;
  background: url(/assets/adminBottom.png) no-repeat;
}

.adminLogin {
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  width: 84%;
}

.adminInput {
  float: left;
  width: 98%;
  input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    height: 24px;
    margin-top: 20px;
    padding: 2px;
    width: 100%;
  }
}

.adminInrInput {
  float: left;
  width: 98%;
  input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    height: 24px;
    margin-top: 20px;
    padding: 2px;
    width: 54%;
  }
}

.adminImg {
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  width: 84%;
}

.lock {
  width: 10%;
  float: left;
  img {
    float: left;
  }
}

.adminImg p {
  color: #FFFFFF;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 9px;
}

.submitBtn {
  float: left;
  width: 50%;
  input {
    background: url(/assets/loginBG.png) no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: 68px;
    padding: 10px 47px;
  }
}

.submitInrBtn {
  float: left;
  width: 50%;
  input {
    background: url(/assets/loginBG.png) no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: right;
    font-size: 18px;
    font-weight: bold;
    height: 42px;
    margin-top: 20px;
    width: 147px;
  }
}

.submitInrBtn3 {
  float: left;
  width: 54%;
  input {
    background: url(/assets/loginBG.png) no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 42px;
    margin-top: 20px;
    width: 147px;
  }
}

.submitInrBtn1 {
  float: right;
  width: 40%;
  input {
    background: url(/assets/loginBG.png) no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    width: 147px;
    margin-right: 20px;
  }
}

.checkBoxMain {
  float: left;
  width: 98%;
  margin-left: 30px;
  margin-top: 20px;
  padding-bottom: 30px;
  input {
    float: left;
  }
  p {
    float: left;
    font-size: 12px;
    color: #fff;
  }
}

.logo {
  width: 25%;
  float: left;
  img {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
  }
}

.topRightNav {
  float: right;
  width: 74%;
}

.topLinks {
  margin-top: 10px;
  margin-right: 30px;
  float: right;
  width: 100%;
  float: right;
  text-align: right;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  a {
    &:link, &:visited, &:active {
      text-decoration: underline;
      color: #3b62bc;
    }
    &:hover {
      text-decoration: none;
      color: #3b62bc;
    }
  }
}

.gray {
  color: #999999;
}

.logoText {
  color: #3b62bc;
  float: left;
  font-size: 14px;
  margin-top: 38px;
  text-align: left;
  width: 80%;
  a {
    &:link, &:visited, &:active {
      text-decoration: underline;
      color: #3b62bc;
    }
    &:hover {
      text-decoration: none;
      color: #3b62bc;
    }
  }
}

.leftContainer {
  float: left;
  width: 235px;
}

.leftHeading {
  border-bottom: 1px solid #AAAAAA;
  float: left;
  margin-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  width: 87%;
}

.rightHeading {
  border-bottom: 1px solid #AAAAAA;
  float: left;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.rightHeading1 {
  border-bottom: 1px solid #AAAAAA;
  float: left;
  margin-top: 16px;
  padding-bottom: 15px;
  width: 100%;
}

.inrHeading {
  float: left;
  color: #2C6DCE;
  font-size: 19px;
  width: 100%;
  font-weight: bold;
}

.manageHeading {
  background: none repeat scroll 0 0 #2C6DCE;
  color: #FFFFFF;
  float: left;
  font-size: 15px;
  font-weight: bold;
  padding: 2px 10px;
}

.rgtHeading1 {
  float: left;
  color: #000;
  font-weight: bold;
  font-size: 28px;
  width: 50%;
}

.rgtHeading {
  float: left;
  color: #000;
  font-weight: bold;
  font-size: 28px;
  width: 100%;
}

.inrHeadingGray {
  color: #666666;
  float: left;
  font-size: 15px;
  margin-top: 7px;
  width: 100%;
  text-transform: uppercase;
  a {
    &:link, &:visited, &:active {
      text-decoration: underline;
      color: #666666;
    }
    &:hover {
      text-decoration: none;
      color: #666666;
    }
  }
}

.actived a {
  font-size: 16px;
  color: #00F !important;
  font-weight: bold;
}

.inrHeadingEdit {
  background: none repeat scroll 0 0 #2C6DCE;
  color: #FFFFFF;
  float: left;
  font-size: 16px;
  margin-left: 22px;
  margin-top: 10px;
  padding: 4px 24px;
  a {
    &:link, &:visited, &:active, &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

.rightContainer {
  float: left;
  margin-left: 24px;
  width: 695px;
}

.inrHeading1 {
  color: #2C6DCE;
  float: left;
  font-size: 19px;
  margin-left: 30px;
  margin-top: 20px;
  width: 90%;
}

.list {
  float: left;
  width: 100%;
  margin-left: 0px;
  li {
    float: left;
    width: 100%;
    list-style: none;
    margin-top: 10px;
    img {
      float: left;
      margin-top: 3px;
      margin-right: 10px;
    }
    p {
      float: left;
      width: 80%;
      font-size: 14px;
      color: #666666;
      a {
        &:link, &:visited, &:active {
          text-decoration: underline;
          color: #666666;
        }
        &:hover {
          text-decoration: none;
          color: #666666;
        }
      }
    }
  }
}

.mediaMain {
  float: left;
  width: 100%;
  margin-top: 20px;
}

.mediaImg {
  float: left;
  width: 25%;
  img {
    float: left;
  }
}

.mediaText {
  float: left;
  width: 30%;
  font-size: 14px;
  color: #000;
  text-align: center;
  margin-top: 54px;
}

.mediaBtn {
  float: left;
  width: 35%;
  margin-top: 45px;
}

.mediaBtn1 {
  float: left;
  width: 35%;
  margin-top: -4px;
}

.mediaBtn2 {
  float: left;
  width: 100%;
  margin-top: -4px;
}

.actions {
  float: left;
  width: 90%;
  margin-top: 20px;
}

.smallBtn {
  background: url(/assets/smallBtn.png) no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  float: right;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  width: 74px;
}

.mainInput {
  float: left;
  width: 82%;
}

.input {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #999999;
  height: 24px;
  margin-top: 20px;
  padding: 2px;
  width: 65%;
}

.field {
  float: left;
  width: 100%;
}

.field label {
  float: left;
  margin-right: 10px;
  font-size: 14px;
  color: #333333;
  line-height: 30px;
  margin-top: 20px;
  width: 145px;
}

.template-field input {
  width: 50px !important;
  float: left;
  margin-right: 10px;
}

.field input {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #999999;
  height: 24px;
  margin-top: 20px;
  padding: 2px;
  width: 66%;
}

.field input[type=checkbox] {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #999999;
  height: 24px;
  margin-top: 27px;
  padding: 2px;
  width: 66%;
}

.field textarea {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #999999;
  height: 140px;
  margin-top: 20px;
  padding: 2px;
  width: 66%;
  float: left;
}

.field select {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #999999;
  height: 24px;
  margin-top: 20px;
  padding: 2px;
  width: 67%;
}

.textarea {
  float: left;
  width: 53%;
}

.textarea1 {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #999999;
  height: 140px;
  margin-top: 20px;
  padding: 2px;
  width: 100%;
  float: left;
}

.textarea4 {
  float: left;
  width: 78%;
}

.btn1 {
  background: url(/assets/loginBG.png) no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  float: right;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 147px;
}

.btn {
  background: url(/assets/loginBG.png) no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  float: right;
  font-size: 18px;
  font-weight: bold;
  height: 42px;
  margin-top: 12px;
  width: 147px;
}

.mainInput {
  img {
    float: left;
  }
  p {
    float: left;
    font-size: 14px;
    color: #333333;
    margin-top: 53px;
    margin-left: 27px;
  }
}

.mtop20 {
  margin-top: 20px;
}

.contLeft {
  float: left;
  width: 75%;
}

.contRight {
  float: left;
  width: 24%;
}

.seo {
  border-bottom: 1px solid #AAAAAA;
  color: #333333;
  float: left;
  font-size: 19px;
  margin-top: 70px;
  padding-bottom: 5px;
  width: 100%;
}

.inputMain {
  float: left;
  width: 100%;
}

.label {
  float: left;
  margin-right: 10px;
  font-size: 14px;
  color: #333333;
  line-height: 22px;
}

.check {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.mLeft114 {
  margin-left: 114px;
}

.inputText {
  float: left;
  width: 140px;
  margin-right: 30px;
  input {
    height: 18px;
    padding: 2px;
    border: 1px solid #aaaaaa;
    width: 140px;
  }
}

.textareaMain {
  float: left;
  margin-top: 68px;
  width: 57%;
  textarea {
    float: left;
    width: 100%;
    border: 1px solid #aaaaaa;
    height: 200px;
  }
}

.inputText1 {
  float: left;
  width: 325px;
  margin-right: 30px;
  input {
    height: 18px;
    padding: 2px;
    border: 1px solid #aaaaaa;
    width: 325px;
  }
}

.mainFields {
  border-bottom: 1px solid #AAAAAA;
  float: left;
  padding-bottom: 20px;
  width: 100%;
}

.adminInrText {
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  width: 100%;
}

.mngMain {
  float: left;
  width: 100%;
}

.mngData {
  border: 1px solid #AAAAAA;
  float: left;
  padding-bottom: 7px;
  padding-top: 7px;
  width: 98%;
}

.fMngHeading, .sMngHeading, .tMngHeading, .foMngHeading {
  float: left;
  width: 24%;
  text-align: center;
  font-size: 19px;
  color: #000;
}

.fMngHeading1, .sMngHeading1, .tMngHeading1, .foMngHeading1 {
  float: left;
  width: 24%;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.btnMain {
  float: left;
  margin-top: 64px;
  width: 25%;
}

.blue {
  background: none repeat scroll 0 0 #e1edff;
  float: left;
  padding-bottom: 10px;
  margin-left: 30px;
  width: 80%;
}

.shudleH {
  color: #504F4F;
  float: left;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 10px;
  width: 94%;
}

.select {
  float: left;
  width: 94%;
  margin-left: 5px;
  margin-top: 10px;
  p {
    float: left;
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #504F4F;
  }
  select {
    float: left;
    width: 83px;
    height: 20px;
    border: 1px solid #aaaaaa;
  }
}

.act a {
  font-weight: bold;
  text-decoration: none !important;
}

.footer {
  border: 1px solid #AAAAAA;
  float: left;
  margin-top: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  width: 100%;
}

.fileInput {
  /* for IE */
  filter: alpha(opacity=0);
  /* CSS3 standard */
  opacity: 0.0;
}

.notice {
  float: left;
  width: 97%;
  background: lightGreen;
  padding: 5px 10px;
  border: 1px solid darkGreen;
  p {
    float: left;
    width: 100%;
  }
}

.alert {
  float: left;
  width: 97%;
  background: lightYellow;
  padding: 5px 10px;
  border: 1px solid brown;
  p {
    float: left;
    width: 98%;
  }
}

.close {
  float: right;
}

.field_with_errors input{
  border-color: red;
}

#error_explanation {
  background: none repeat scroll 0 0 pink;
  border: 1px solid #991514;
  float: left;
  margin-top: 20px;
  padding: 5px 10px;
  width: 95%;
}

#error_explanation .close-errors {
  float: right;
  width: auto;
  margin: 5px;
}

#error_explanation .close-errors a {
  font-weight: bolder;
  text-decoration: none;
  color: #666666;
}

#error_explanation h2 {
  float: left;
  width: 100%;
}

#error_explanation ul {
  margin-top: 10px;
  list-style: none;
  float: left;
  width: 100%;
}

#error_explanation ul li {
  font-size: 14px;
}

.details-info-holder {
  float: left;
  width: 100%;
  margin: 5px 0px;
}

.details-info-holder label {
  float: left;
  margin-right: 10px;
  font-size: 14px;
  color: #333333;
  line-height: 22px;
  font-weight: bolder;
}

.details-info-holder .details-info {
  float: left;
  margin-right: 10px;
  font-size: 14px;
  color: #333333;
  line-height: 22px;
}

.details-info-holder .details-img {
  float: left;
  margin-right: 10px;
}

.images-holder {
  float: left;
  width: 100%;
  margin: 10px 0px;
}

.charity-image {
  float: left;
  width: 150px;
  height: 150px;
  margin: 5px;
}

.up_check_txt {
  float: left;
}

.up_check_txt a {
  float: right;
  font-size: 14px;
  color: #000;
  font-weight: normal;
  line-height: 42px;
}

.up_check_txt a:hover {
  text-decoration: underline;
}

.defaultSkin table.mceLayout {
  margin-top: 25px !important;
  float: left !important;
}

.fleft {
  float: left;
  clear: both;
}