<h1>Appointments</h1>
<div id="appointments">
  <%= render "calandar" %>
</div>
<br/>
<%= link_to 'New Event', new_appointment_path, :id => 'new-appointment', :class => 'btn btn-default pull-right' %>

<script>

    $(document).ready(function () {

        $("#new-appointment").click(function () {
            $.ajax({
                url: $(this).attr('href'),
                type: 'get',
                dataType: 'html',
                processData: false,
                success: function (data) {
                    $("#myModal").modal();
                    $('#myModal').html(data);
                }
            });
            return false;
        });
    });

</script>